html {
	scroll-behavior: smooth;
}

body {
	font-family: monospace;
	margin: 0px;
}

div#banner {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	animation-name: banner;
	animation-duration: 1s;
	height: 500px;
}

div#banner div {
	position: relative;
	color: #FFFFFF;
	font-size: 32px;
	left: 10px;
}

div#banner div h1 {
	font-size: 128px;
	margin-bottom: 10px;
}

@keyframes banner {
	from {opacity: 0.0;}
	to {opacity: 1.0;}
}

div#navigation-bar {
	background-color: #C9FFE5;
	text-align: center;
	width: 100%;
	height: 50px;
}

div#navigation-bar ul {
	margin: 0px;
	padding-top: 0px;
	height: 50px;
}

div#navigation-bar li {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
	width: 10%;
	height: 30px;
	display: inline-block;
}

div#navigation-bar li:hover {
	background-color: #336699;
}

div#navigation-bar .bar-select {
	position: relative;
}

div#navigation-bar .bar-select .bar-select-content {
	display: none;
	position: absolute;
	width: 100%;
	top: 50px;
	left: -40px;
}

div#navigation-bar .bar-select .bar-select-content li {
	background-color: #A7CAAB;
	width: 100%;
}

div#navigation-bar .bar-select:hover .bar-select-content {
	display: block;
}

div#navigation-bar .bar-select .bar-select-content li:hover  {
	background-color: #336699;
}

div#content {
	padding: 50px;
}

iframe.factcontent {
	background-color: #DFFFE2;
	border: None;
	border-radius: 40px;
	padding: 20px;
	width: 80%;
}

section#about {
	font-size: 24px;
}

section#about h1 {
	font-size: 48px;
}

footer {
	background-color: #A7CAAB;
	text-align: center;
	padding-top: 20px;
	width: 100%;
	height: 50px;
}

a:link {color: #003366; text-decoration: none;}
a:visited {color: #003366; text-decoration: none;}
a:hover {text-decoration: none;}
a:active {color: #0099cc; text-decoration: none;}