html {
	scroll-behavior: smooth;
}

body {
	font-family: monospace;
	margin: 0px;
}

div#banner {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	animation-name: banner;
	animation-duration: 1s;
	width: 100%;
	height: 80vh;
}

div#banner div {
	width: fit-content;
	color: #FFFFFF;
	font-size: 32px;
	padding: 30vh 0px 5vh 5vw;
}

div#banner div h1 {
	font-size: 20vh;
	margin: 0px;
}

@keyframes banner {
	from {opacity: 0.0;}
	to {opacity: 1.0;}
}

div#navigation-bar {
	background-color: #C9FFE5;
	text-align: center;
	width: 100%;
	height: 50px;
}

div#navigation-bar ul {
	margin: 0px;
	padding-top: 0px;
	height: 50px;
}

div#navigation-bar li {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
	width: 10%;
	height: 30px;
	display: inline-block;
}

div#navigation-bar li:hover {
	background-color: #336699;
}

div#navigation-bar .bar-select {
	position: relative;
}

div#navigation-bar .bar-select .bar-select-content {
	display: none;
	position: absolute;
	width: 100%;
	top: 50px;
	left: -40px;
}

div#navigation-bar .bar-select .bar-select-content li {
	background-color: #A7CAAB;
	width: 100%;
}

div#navigation-bar .bar-select:hover .bar-select-content {
	display: block;
}

div#navigation-bar .bar-select .bar-select-content li:hover  {
	background-color: #336699;
}

div#content {
	padding: 50px;
}

div#timeline {
	width: 100%;
}

div#timeline .timeline-button {
	background: #FFFFFF;
	margin: 5px;
	width: 5%;
	height: 10%;
	display: inline-block;
	transform: scale(1.0);
	transition: transform .2s;
}

div#timeline .timeline-button:hover {
	transform: scale(1.2);
}

iframe.factcontent {
	background-color: #DFFFE2;
	border: None;
	border-radius: 40px;
	padding: 20px;
	width: 80%;
}

section#about {
	font-size: 14pt;
	line-height: 26pt;
}

section#about h1 {
	font-size: 32pt;
}

footer {
	background-color: #A7CAAB;
	text-align: center;
	padding-top: 20px;
	width: 100%;
	height: 50px;
}

a:link {color: #003366; text-decoration: none;}
a:visited {color: #003366; text-decoration: none;}
a:hover {text-decoration: none;}
a:active {color: #0099cc; text-decoration: none;}